<header>
    <div class="row">
        <div class="col-sm-1 logo">
            <img src='images/yo.png' alt="Yo" title="Yo" width="80" />
        </div>
        <span class="col-sm-11">Yo is a awesome web app which provides information about various hobbies like recipes, music etc.</span>
    </div>
    <div class="row padTHead">
		<div class="col-sm-2"><img src='images/yomommy.png' alt="Yo Mommy" title="Yo Mommy" width="100" /></div>
        <div class="col-sm-2"><img src='images/yomusic.png' alt="Yo Music" title="Yo Music" width="100" /></div>
		<div class="col-sm-8 user text-primary">
			<span class="fa fa-user"></span>
            <span><%= displayName %></span>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>
	</div>
  <hr />
</header>